body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:640px;
}
#u104427 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:61px;
  width:339px;
  height:640px;
}
#u104428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:675px;
}
#u104429 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:61px;
  width:842px;
  height:675px;
}
#u104430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:29px;
  background:inherit;
  background-color:rgba(48, 53, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.847058823529412);
}
#u104431 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:195px;
  width:110px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.847058823529412);
}
#u104432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u104433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104434 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:289px;
  width:30px;
  height:33px;
}
#u104435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u104436 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:289px;
  width:30px;
  height:33px;
}
#u104437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
  background:inherit;
  background-color:rgba(167, 217, 79, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u104438 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:285px;
  width:166px;
  height:43px;
  font-size:15px;
}
#u104439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:166px;
  word-wrap:break-word;
}
